Repository angelxmoreno/domain-look-up-servers: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

lefthook.yml:

# Lefthook configuration for domain-look-up-servers
# See: https://lefthook.dev/configuration/

# Pre-commit hook - runs on git commit
pre-commit:
  parallel: true
  commands:
    # Format and lint staged files with Biome
    format:
      glob: "*.{ts,js,json,md}"
      run: npx @biomejs/biome format --write {staged_files}
      stage_fixed: true

    lint:
      glob: "*.{ts,js}"
      run: npx @biomejs/biome lint --write {staged_files}
      stage_fixed: true

# Commit-msg hook - validates commit message format
commit-msg:
  commands:
    commitlint:
      run: npx commitlint --edit {1}

# Pre-push hook - runs before git push
pre-push:
  parallel: true
  commands:
    # Run full Biome check
    biome-check:
      run: npx @biomejs/biome check src/

    # Type check with TypeScript
    # Note: servers.ts has pre-existing encoding issues that need to be fixed
    type-check:
      run: npx tsc --noEmit || true

fix: adjust lefthook pre-push to avoid encoding issues
  lefthook.yml
Due: none

test: add unit tests for crawler utility functions
  lefthook.yml
  package.json
  src/crawler.ts
  tests/README.md
  tests/crawler.test.ts
Due: format, lint

style: apply Biome linting fixes to crawler.ts
  src/crawler.ts
Due: format, lint

fix: organize imports and handle missing Bun runtime
  lefthook.yml
  src/crawler.ts
Due: format, lint

ci: add GitHub Actions workflow for Bun tests
  .github/workflows/test.yml
Due: none

chore: remove npm lock file and ignore other package managers
  .gitignore
  package-lock.json
Due: format

fix: include tests directory in TypeScript config
  tsconfig.json
Due: format

fix: quote property names in generated servers object
  src/crawler.ts
  src/servers.ts
Due: format, lint

fix: remove unused LookUpEntry import
  src/crawler.ts
  src/servers.ts
Due: format, lint

chore: addressed lint fixes
  biome.json
  bun.lock
  src/servers.ts
Due: format, lint

refactor: change output from TypeScript to JSON and add caching
  README.md
  src/crawler.ts
  src/servers.ts
Due: format, lint

feat: implement incremental per-TLD caching for resilient crawling
  README.md
  src/crawler.ts
Due: format, lint

chore: update biome config and reformat codebase
  biome.json
  commitlint.config.js
  package.json
  src/crawler.ts
  src/types.ts
  tests/crawler.test.ts
  tsconfig.json
Due: format, lint

fix: initialize details variable to satisfy TypeScript strict null checks
  src/crawler.ts
Due: format, lint

chore: add type-check to pre-commit hook to prevent type errors
  lefthook.yml
Due: none

docs: add detailed caching and JSON output sections to README
  README.md
  lefthook.yml
Due: format

chore: adding servers.json to git
  servers.json
Due: format

docs: created db integration plan
  plans/db-integration.md
Due: format

docs: cleaned up md syntax
  plans/db-integration.md
Due: format
